.menu{
margin:20px;
}

.menu button{

background:#333;
color:white;
border:none;
padding:10px 20px;
margin:5px;
cursor:pointer;
font-size:14px;
border-radius:6px;

}

.menu button:hover{
background:#555;
}